<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108806957352-ma112mjrvhb0kathq1fa03d61a5aad16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108806957352-ma112mjrvhb0kathq1fa03d61a5aad16</string>
	<key>API_KEY</key>
	<string>AIzaSyAt9n7tKKBXAGGHfcKa_FJOOP4CzGS_DCM</string>
	<key>GCM_SENDER_ID</key>
	<string>108806957352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.devgeeyong.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c14eb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c14eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108806957352:ios:6c8060b790a27b3a69881d</string>
</dict>
</plist>