<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741676317830-6msr36uc9vh2dttaiod9d7ta1uds977d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741676317830-6msr36uc9vh2dttaiod9d7ta1uds977d</string>
	<key>API_KEY</key>
	<string>AIzaSyBIhzWV7UiUr40dJ0C1Fatf9PNXtm85Ro0</string>
	<key>GCM_SENDER_ID</key>
	<string>741676317830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseProject.list</string>
	<key>PROJECT_ID</key>
	<string>fir-project-4cc1e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-4cc1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741676317830:ios:e5e2463b534ceb1e91e507</string>
</dict>
</plist>